@import "tailwindcss";

@theme {  
  --color-background: #0f1418;
  --color-white: #f0f2f5;
  --color-card: #141a1f;
  --color-primary: #20b2a6; 
  --color-primary-foreground: #ffffff;
  --color-secondary: #1f2830;
  --color-secondary-foreground: #20b2a6;
  --color-muted: #252e37: 
  --color-muted-foreground: #7a8491;
  --color-border: #242b32;

  --radius: 0.75rem;

  --color-highlight: #f5a623; 
  --color-surface: #la2329;
}

@layer base{

  .syne-font {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: "Montserrat", sans-serif;

  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-surface) 80%, transparent);
    backdrop-filter: blur(20px);
    border: 1px solid color-mix(in srgb, var(--color-border) 65%, transparent);
  }
}