@import "tailwindcss";

@theme {  
  --color-background: #202020;
  --color-white: #f1f2eb;
  --color-primary: #FFB3FC;
  --color-secondary: #1f2830;
  --color-muted: #252e37;

  --color-highlight: #f5a623; 
  --color-surface: #la2329;
  --color-border: #333333;
}

@layer base{

  .syne-font {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: "Montserrat", sans-serif;

  }

  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .glass {
    background-color: color-mix(in srgb, var(--color-primary) 80%, transparent);
    backdrop-filter: blur(20px);
    border: 1px solid color-mix(in srgb, var(--color-border) 65%, transparent);
  }
  .glass-light {
    background-color: color-mix(in srgb, var(--color-primary) 50%, transparent);
    backdrop-filter: blur(20px);
    border: 1px solid color-mix(in srgb, var(--color-border) 65%, transparent);
  }

  .glass-transparent {
    background-color: color-mix(in srgb, var(--color-transparent) 50%, transparent);
    backdrop-filter: blur(20px);
   }

}

@layer utilities {
  @keyframes drift {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(20px, -30px);
    }
    50% {
      transform: translate(-15px, -20px);
    }
    75% {
      transform: translate(30px, 10px);
    }
  }
}